Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
jobtitle=[]
joblocation=[]
companyname=[]
experiencerequired=[]

In [8]:
titletags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titletags[0:10]:
    title=i.text
    jobtitle.append(title)

In [9]:
locationtags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locationtags[0:10]:
    location=i.text
    joblocation.append(location)

In [10]:
companytags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companytags[0:10]:
    company=i.text
    companyname.append(company)

In [11]:
experiencetags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiencetags[0:10]:
    experience=i.text
    experiencerequired.append(experience)

In [12]:
print(len(jobtitle),len(joblocation),len(companyname),len(experiencerequired))

10 10 10 10

In [13]:
df=pd.DataFrame({'Job_title':jobtitle,'Job_location':joblocation,'Company_Name':companyname,'Exp_Req':experiencerequired})
df

,Job_title,Job_location,Company_Name,Exp_Req
0,Business & Data Analyst- Assistant Manager,"Hyderabad/Secunderabad, Bangalore/Bengaluru",State Street,1-3 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
2,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
3,Manager / Senior Manager - Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Data Analyst,"Ahmedabad, Bangalore/Bengaluru",milestone internet marketing pvt ltd,2-7 Yrs
5,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
7,Sr. Data Analyst,"Pune, Bangalore/Bengaluru",Global Indian School Education Services,6-11 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
9,Senior Analyst/Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",JoulestoWatts,6-9 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [15]:
D=webdriver.Chrome(r"chromedriver.exe")

In [16]:
D.get("https://www.naukri.com/")

In [17]:
designation=D.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [18]:
location=D.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [19]:
search=D.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
#job-title, job-location, company_name
jobtitle=[]
joblocation=[]
companyname=[]

In [21]:
titletags=D.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titletags[0:10]:
    title=i.text
    jobtitle.append(title)
    
locationtags=D.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locationtags[0:10]:
    locations=i.text
    joblocation.append(locations)
    
companytags=D.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companytags[0:10]:
    company=i.text
    companyname.append(company)

In [22]:
print(len(jobtitle),len(joblocation),len(companyname))

10 10 10

In [23]:
df=pd.DataFrame({'Job_Title':jobtitle,'Job_Location':joblocation,'Company_Name':companyname})
df

,Job_Title,Job_Location,Company_Name
0,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics
1,Senior Manager - EmTech - Machine Learning - P&T,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS)
4,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
6,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
7,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro
8,Data Scientist Lead_Tata Consultancy Services(...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",TATA CONSULTANCY SERVICES (TCS)
9,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [24]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [25]:
drive=webdriver.Chrome(r"chromedriver.exe")

In [26]:
drive.get("https://www.naukri.com/")

In [27]:
designation=drive.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [28]:
search=drive.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
location=drive.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]')
location.click()

In [31]:
salary=drive.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [36]:
#job-title, job-location, company name, experience required
job_title=[]
job_location=[]
company_name=[]
experience_req=[]

In [37]:
title=drive.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title[0:10]:
    job=i.text
    job_title.append(job)
    
location=drive.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location[0:10]:
    j=i.text
    job_location.append(j)
    
company=drive.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    name=i.text
    company_name.append(name)
    
exp=drive.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    req=i.text
    experience_req.append(req)

In [38]:
print(len(job_title),len(job_location),len(company_name),len(experience_req))

10 10 10 10

In [39]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_req})
df

,Job Title,Job Location,Company Name,Experience Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
8,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
9,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [40]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [41]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [42]:
driver.get("https://www.flipkart.com/")

In [43]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [44]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [45]:
brand=[]
description=[]
price=[]

In [46]:
brand_tags=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand_tags:
    name=i.text
    brand.append(name)

In [47]:
description_tags=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in description_tags:
    des=i.text
    description.append(des)

In [48]:
price_tags=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_tags[0:40]:
    rate=i.text
    price.append(rate)

In [49]:
print(len(brand),len(description),len(price))

40 40 40

In [50]:
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [51]:
brand_tags=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand_tags:
    name=i.text
    brand.append(name)

In [52]:
len(brand)

80

In [53]:
brand

['PROVOGUE',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'SUNBEE',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'SRPM',
 'New Specs',
 'VINCENT CHASE',
 'New Specs',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'Lee Topper',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PHENOMENAL',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'Mi',
 'NuVew',
 'Dannilo',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'Sewell',
 'VINCENT CHASE',
 'Silver Kartz',
 'ROYAL SON',
 'EYELLUSION',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'IZAAN MART',
 'kingsunglasses',
 'VINCENT CHASE',
 'Lee Topper',
 'Fastrack',
 'Rich Club',
 'VINCENT CHASE',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'VINCENT CHASE',
 'Rich Club',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Elligator',
 'PIRASO',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT']

In [54]:
description_tags=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in description_tags:
    des=i.text
    description.append(des)

In [55]:
len(description)

80

In [56]:
price_tags=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_tags[0:40]:
    rate=i.text
    price.append(rate)

In [57]:
len(price)

80

In [58]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button.click()
time.sleep(3)

In [59]:
brand_tags=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand_tags[0:20]:
    name=i.text
    brand.append(name)

In [60]:
len(brand)

100

In [61]:
description_tags=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in description_tags[0:20]:
    des=i.text
    description.append(des)

In [62]:
len(description)

100

In [63]:
price_tags=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_tags[0:20]:
    rate=i.text
    price.append(rate)

In [64]:
len(price)

100

In [65]:
df=pd.DataFrame({'Brand':brand,'Product_Description':description,'Price':price})
df

             Brand                                Product_Description   Price
0         PROVOGUE       Polarized Rectangular Sunglasses (Free Size)    ₹699
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹1,415
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
3        Elligator                UV Protection Round Sunglasses (54)    ₹298
4           PIRASO          UV Protection Rectangular Sunglasses (52)    ₹252
..             ...                                                ...     ...
95  kingsunglasses                UV Protection Round Sunglasses (54)    ₹214
96        Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹719
97    Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹296
98   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹949
99   VINCENT CHASE  Polarized, UV Protection Rectangular Sunglasse...    ₹949

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('iphone 11')

In [5]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [6]:
search2=driver.find_element(By.CLASS_NAME,"_1wB99o")
search2.click()

In [7]:
rating=[]
review_summary=[]
full_review=[]

In [ ]:
r=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in r:
    r1=i.text
    rating.append(r1)
    
review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review:
    summary=i.text
    review_summary.append(summary)
    
full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full:
    rev=i.text
    full_review.append(rev)

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [72]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [73]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [74]:
driver.get("https://www.flipkart.com/")

In [75]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [76]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [77]:
brand=[]
product_des=[]
price=[]

In [78]:
brand_tags=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand_tags:
    name=i.text
    brand.append(name)
    
description_tags=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in description_tags:
    des=i.text
    product_des.append(des)
    
price_tags=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_tags[0:40]:
    rate=i.text
    price.append(rate)

In [79]:
print(len(brand),len(product_des),len(price))

40 40 40

In [80]:
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [81]:
brand_tags=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand_tags:
    name=i.text
    brand.append(name)
    
description_tags=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in description_tags:
    des=i.text
    product_des.append(des)
    
price_tags=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_tags[0:40]:
    rate=i.text
    price.append(rate)

In [82]:
print(len(brand),len(product_des),len(price))

80 80 80

In [83]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button.click()
time.sleep(3)

In [84]:
brand_tags=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand_tags[0:20]:
    name=i.text
    brand.append(name)
    
description_tags=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in description_tags[0:20]:
    des=i.text
    product_des.append(des)
    
price_tags=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_tags[0:20]:
    rate=i.text
    price.append(rate)

In [85]:
print(len(brand),len(product_des),len(price))

100 100 100

In [86]:
df=pd.DataFrame({'Brand':brand,'Product_Description':product_des,'Price':price})
df

          Brand                                Product_Description   Price
0   bacca bucci  DEMON High-top casual shoe with Flat outsole h...  ₹1,683
1   bacca bucci  STREET SAMURAI High top Flat high Street Fashi...  ₹1,578
2          aadi  Mesh | Ultralightweight | Comfortable | Breath...    ₹374
3     Deals4you                                 Sneakers For Women    ₹373
4          PUMA             Puma Smash Wns v2 L Sneakers For Women  ₹1,542
..          ...                                                ...     ...
95       Kzaara                                   Sneakers For Men    ₹259
96       lejano                                   Sneakers For Men    ₹423
97       LEVI'S       Levi's Men's Henry Sneakers Sneakers For Men  ₹1,539
98       Chevit  Latest Women's Pack of 2 Stylish Slip-On Loafe...    ₹449
99     PREKANZO                                 Sneakers For Women    ₹378

[100 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [87]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [88]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [89]:
driver.get("https://www.myntra.com/shoes")

In [90]:
pricefilter=drive.find_element(By.XPATH,'')
pricefilter.click()

WebDriverException: Message: chrome not reachable
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E778B3+2193587]
	Ordinal0 [0x00E10681+1771137]
	Ordinal0 [0x00D24070+802928]
	Ordinal0 [0x00D19AB2+760498]
	Ordinal0 [0x00D0CEAF+708271]
	Ordinal0 [0x00D11142+725314]
	Ordinal0 [0x00D155C9+742857]
	Ordinal0 [0x00D25500+808192]
	Ordinal0 [0x00D7D2C2+1168066]
	Ordinal0 [0x00D6D5C6+1103302]
	Ordinal0 [0x00D477E0+948192]
	Ordinal0 [0x00D486E6+952038]
	GetHandleVerifier [0x01120CB2+2738370]
	GetHandleVerifier [0x011121B8+2678216]
	GetHandleVerifier [0x00F017AA+512954]
	GetHandleVerifier [0x00F00856+509030]
	Ordinal0 [0x00E1743B+1799227]
	Ordinal0 [0x00E1BB68+1817448]
	Ordinal0 [0x00E1BC55+1817685]
	Ordinal0 [0x00E25230+1856048]
	BaseThreadInitThunk [0x75B66739+25]
	RtlGetFullPathName_UEx [0x77128FEF+1215]
	RtlGetFullPathName_UEx [0x77128FBD+1165]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [101]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [102]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [103]:
driver.get("https://www.amazon.in/")

In [104]:
item=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
item.send_keys('Laptop')

In [105]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [106]:
mark_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div')
mark_filter.click()

In [107]:
title=[]
ratings=[]
price=[]

In [108]:
T=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in T[0:10]:
    t=i.text
    title.append(t)
    
R=driver.find_elements(By.CLASS_NAME,"a-icon-alt")
for i in R[0:10]:
    r=i.text
    ratings.append(r)
    
P=driver.find_elements(By.CLASS_NAME,"a-price-whole")
for i in P[0:10]:
    p=i.text
    price.append(p)

In [109]:
print(len(title),len(ratings),len(price))

10 10 10

In [110]:
df=pd.DataFrame({'Title':title,'Ratings':ratings,'Price':price})
df

                                               Title Ratings     Price
0  LG Gram Intel Evo 11th Gen Core i7 17"(43cm)Ul...            94,999
1  LG Gram14 Intel EVO-[12th Gen Corei7/Win11/Mic...          1,05,999
2  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...            62,990
3  Samsung Galaxy Book2 Intel 12th Gen core i7 39...            79,490
4  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...            56,585
5  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...            87,990
6  ASUS TUF Gaming F17 (2022), 17.3-inch (43.94 c...          1,32,990
7  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...            92,690
8  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...            84,990
9  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...            82,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [111]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [112]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [113]:
driver.get("https://www.ambitionbox.com/")

In [114]:
c=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
c.click()

In [115]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
designation.send_keys('Data Scientist')

In [116]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search.click()

In [117]:
cl=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
cl.click()

In [118]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location.send_keys('Noida')

In [119]:
select=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

In [120]:
companyname=[]
jobposted=[]
rating=[]

In [121]:
company=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company[0:10]:
    name=i.text
    companyname.append(name)
    
posted=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in posted[0:20]:
    job=i.text
    jobposted.append(job)
    
rate=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rate[0:10]:
    r=i.text
    rating.append(r)

In [122]:
print(len(companyname),len(jobposted),len(rating))

10 20 10

In [123]:
jobposted=jobposted[0:19:2]
jobposted

['8d ago',
 '1d ago',
 '3d ago',
 '18d ago',
 '11d ago',
 '15d ago',
 '16d ago',
 '28d ago',
 '17d ago',
 '17d ago']

In [124]:
df=pd.DataFrame({'Company Name':companyname,'Job Posted on':jobposted,'Rating':rating})
df

                                     Company Name Job Posted on Rating
0                         CBRE South Asia Pvt Ltd        8d ago    4.3
1                   GENPACT India Private Limited        1d ago    4.0
2                                         Genpact        3d ago    4.0
3        Ericsson India Global Services Pvt. Ltd.       18d ago    4.3
4                   GENPACT India Private Limited       11d ago    4.0
5  Optum Global Solutions (India) Private Limited       15d ago    4.1
6  Optum Global Solutions (India) Private Limited       16d ago    4.1
7        Ericsson India Global Services Pvt. Ltd.       28d ago    4.3
8                      SOPRA STERIA INDIA LIMITED       17d ago    4.2
9                EXL Services.com ( I ) Pvt. Ltd.       17d ago    3.9

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [125]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [126]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [127]:
driver.get("https://www.ambitionbox.com/")

In [128]:
c=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
c.click()

In [129]:
c2=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]')
c2.click()

In [130]:
profile=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
profile.send_keys('Data Scientist')

In [131]:
c3=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
c3.click()

In [132]:
#company name, total salary record, average salary, minimum salary,
#maximum salary, experience required.

company_name=[]
salary_record=[]
average_salary=[]
min_salary=[]
minimum_salary=[]
max_salary=[]
experience_req=[]

In [133]:
company=driver.find_elements(By.XPATH,'//div[@class="company-info-wrapper"]')
for i in company[0:10]:
    name=i.text.split()
    company_name.append(name[0])
    
record=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in record[0:10]:
    salary=i.text
    salary_record.append(salary)
    
avg=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg[0:10]:
    s1=i.text
    average_salary.append(s1)
    
exp=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp[0:10]:
    s3=i.text
    experience_req.append(s3[0:6])

In [134]:
mini=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in mini[0:20]:
    s2=i.text
    min_salary.append(s2)

In [135]:
min_salary

['₹ 25.0L',
 '₹ 45.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 11.0L',
 '₹ 22.6L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 20.0L',
 '₹ 8.8L',
 '₹ 17.5L',
 '₹ 8.0L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 18.0L']

In [136]:
#removing odd index position
minimum_salary=min_salary[0:19:2]
minimum_salary

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 9.0L',
 '₹ 9.0L',
 '₹ 11.0L',
 '₹ 8.8L',
 '₹ 8.0L',
 '₹ 10.0L']

In [137]:
#removing even index position
max_salary=min_salary[1:20:2]
max_salary

['₹ 45.0L',
 '₹ 25.5L',
 '₹ 22.6L',
 '₹ 22.0L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 20.0L',
 '₹ 17.5L',
 '₹ 20.5L',
 '₹ 18.0L']

In [138]:
print(len(company_name),len(salary_record),len(average_salary),len(minimum_salary),len(max_salary),len(experience_req))

10 10 10 10 10 10

In [139]:
df=pd.DataFrame({'Company Name':company_name,'Salary Record':salary_record,'Average Salary':average_salary,'Minimum salary':minimum_salary,'Maximum Salary':max_salary,'Experience Required':experience_req})
df

,Company Name,Salary Record,Average Salary,Minimum salary,Maximum Salary,Experience Required
0,Walmart,(based on 22 salaries),₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yr
1,Ab,(based on 53 salaries),₹ 19.7L,₹ 15.0L,₹ 25.5L,2-4 yr
2,Optum,(based on 48 salaries),₹ 16.5L,₹ 11.0L,₹ 22.6L,2-4 yr
3,ZS,(based on 33 salaries),₹ 15.7L,₹ 11.0L,₹ 22.0L,1-2 yr
4,Fractal,(based on 109 salaries),₹ 15.2L,₹ 9.0L,₹ 23.0L,2-4 yr
5,Tiger,(based on 65 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yr
6,Legato,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs
7,Tredence,(based on 12 salaries),₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs
8,UnitedHealth,(based on 91 salaries),₹ 13.6L,₹ 8.0L,₹ 20.5L,2-4 yr
9,Ford,(based on 21 salaries),₹ 13.5L,₹ 10.0L,₹ 18.0L,3-4 yr