1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

from selenium.common.exceptions import ElementNotInteractableException

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(3)

In [3]:
row_1=[]
r1=driver.find_element(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[1]')
row_1.append(r1.text.split())

In [4]:
row_1

[['1.',
  '"Baby',
  'Shark',
  'Dance"[3]',
  'Pinkfong',
  'Baby',
  'Shark',
  '-',
  "Kids'",
  'Songs',
  '&',
  'Stories',
  '11.30',
  'June',
  '17,',
  '2016',
  '[A]']]

2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://www.bcci.tv/")
time.sleep(3)

In [3]:
c1=driver.find_element(By.XPATH,'//button[@class="navbar-toggler menu-btn menu-icon"]')
c1.click()

In [4]:
c2=driver.find_element(By.XPATH,'//li[@class="nav-item"]')
c2.click()

In [19]:
match_title=[]
match=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match:
    m=i.text
    match_title.append(m)

series=[]
s=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in s:
    s1=i.text
    series.append(s1)

place=[]
p=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in p:
    p1=i.text.split()[4:]
    place.append(p1)
    
date=[]
d=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in d:
    d1=i.text
    date.append(d1)
    
time=[]
t=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
for i in t:
    t1=i.text
    time.append(t1)

In [21]:
print(len(match_title),len(series),len(place),len(date),len(time))

8 8 8 8 8

In [22]:
df=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,2nd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"[Ground,, Derby]",13 SEP 2022,10:30 PM IST
1,3rd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"[Ground,, Bristol]",15 SEP 2022,11:00 PM IST
2,1st ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"[Ground,, Hove]",18 SEP 2022,3:30 PM IST
3,1st T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"[Cricket, Association, IS, Bindra, Stadium,, M...",20 SEP 2022,7:30 PM IST
4,2nd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"[Lawrence, Ground,, Canterbury]",21 SEP 2022,5:30 PM IST
5,2nd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"[Cricket, Association, Stadium,, Nagpur]",23 SEP 2022,7:30 PM IST
6,3rd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"[Cricket, Ground,, London]",24 SEP 2022,3:30 PM IST
7,3rd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"[Gandhi, International, Stadium,, Hyderabad]",25 SEP 2022,7:30 PM IST

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [23]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [24]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://www.guru99.com/")
time.sleep(3)

In [25]:
c1=driver.find_element(By.XPATH,'//a[@data-lasso-id="147434"]')
c1.click()

In [26]:
c2=driver.find_element(By.XPATH,'//a[@data-lasso-id="182688"]')
c2.click()

In [34]:
name1=[]
n1=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]')
for i in n1:
    n11=i.text.split()
    name1.append(n11)

In [48]:
new_name1=name1[0][:2]
new_name1

['1.', 'ElementNotVisibleException:']

In [39]:
description1=name1[0][2:]
description1

['This',
 'type',
 'of',
 'Selenium',
 'exception',
 'occurs',
 'when',
 'an',
 'existing',
 'element',
 'in',
 'DOM',
 'has',
 'a',
 'feature',
 'set',
 'as',
 'hidden.']

In [41]:
name2=[]
n2=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[2]')
name2.append(n2.text.split())

In [43]:
new_name2=name2[0][:2]
new_name2

['2.', 'ElementNotSelectableException:']

In [44]:
description2=name2[0][2:]
description2

['This',
 'Selenium',
 'exception',
 'occurs',
 'when',
 'an',
 'element',
 'is',
 'presented',
 'in',
 'the',
 'DOM,',
 'but',
 'you',
 'can',
 'be',
 'able',
 'to',
 'select.',
 'Therefore,',
 'it',
 'is',
 'not',
 'possible',
 'to',
 'interact.']

In [46]:
name3=[]
n3=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[3]')
name3.append(n3.text.split())

new_name3=name3[0][:2]
print(new_name3)
description3=name3[0][2:]
print(description3)

['3.', 'NoSuchElementException:']
['This', 'Exception', 'occurs', 'if', 'an', 'element', 'could', 'not', 'be', 'found.']

In [49]:
name4=[]
n4=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[4]')
name4.append(n4.text.split())

new_name4=name4[0][:2]
print(new_name4)
description4=name4[0][2:]
print(description4)

['4.', 'NoSuchFrameException:']
['This', 'Exception', 'occurs', 'if', 'the', 'frame', 'target', 'to', 'be', 'switched', 'to', 'does', 'not', 'exist.']

In [50]:
name5=[]
n5=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[5]')
name5.append(n5.text.split())

new_name5=name5[0][:2]
print(new_name5)
description5=name5[0][2:]
print(description5)

['5.', 'NoAlertPresentException:']
['This', 'Exception', 'occurs', 'when', 'you', 'switch', 'to', 'no', 'presented', 'alert.']

In [52]:
Names=[new_name1]+[new_name2]+[new_name3]+[new_name4]+[new_name5]
Names

[['1.', 'ElementNotVisibleException:'],
 ['2.', 'ElementNotSelectableException:'],
 ['3.', 'NoSuchElementException:'],
 ['4.', 'NoSuchFrameException:'],
 ['5.', 'NoAlertPresentException:']]

In [53]:
Description=[description1]+[description2]+[description3]+[description4]+[description5]
Description

[['This',
  'type',
  'of',
  'Selenium',
  'exception',
  'occurs',
  'when',
  'an',
  'existing',
  'element',
  'in',
  'DOM',
  'has',
  'a',
  'feature',
  'set',
  'as',
  'hidden.'],
 ['This',
  'Selenium',
  'exception',
  'occurs',
  'when',
  'an',
  'element',
  'is',
  'presented',
  'in',
  'the',
  'DOM,',
  'but',
  'you',
  'can',
  'be',
  'able',
  'to',
  'select.',
  'Therefore,',
  'it',
  'is',
  'not',
  'possible',
  'to',
  'interact.'],
 ['This',
  'Exception',
  'occurs',
  'if',
  'an',
  'element',
  'could',
  'not',
  'be',
  'found.'],
 ['This',
  'Exception',
  'occurs',
  'if',
  'the',
  'frame',
  'target',
  'to',
  'be',
  'switched',
  'to',
  'does',
  'not',
  'exist.'],
 ['This',
  'Exception',
  'occurs',
  'when',
  'you',
  'switch',
  'to',
  'no',
  'presented',
  'alert.']]

In [54]:
df=pd.DataFrame({'Name':Names,'Description':Description})
df

,Name,Description
0,"[1., ElementNotVisibleException:]","[This, type, of, Selenium, exception, occurs, ..."
1,"[2., ElementNotSelectableException:]","[This, Selenium, exception, occurs, when, an, ..."
2,"[3., NoSuchElementException:]","[This, Exception, occurs, if, an, element, cou..."
3,"[4., NoSuchFrameException:]","[This, Exception, occurs, if, the, frame, targ..."
4,"[5., NoAlertPresentException:]","[This, Exception, occurs, when, you, switch, t..."

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [55]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [56]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("http://statisticstimes.com/")
time.sleep(3)

In [59]:
c1=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button/i')
c1.click()

In [60]:
c2=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
c2.click()

In [61]:
c3=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
c3.click()

In [102]:
rank=[]
r1=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in r1[0:33]:
    r11=i.text.split()
    rank.append(r11)
    
state=[]
s1=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in s1[0:33]:
    s11=i.text.split()
    state.append(s11)

GSDP_18_19=[]
g18=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in g18[0:33]:
    g19=i.text.split()
    GSDP_18_19.append(g19)
    
GSDP_list=[]
l1=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in l1[0:165]:
    l11=i.text.split()
    GSDP_list.append(l11)

In [104]:
GSDP_list

[['-'],
 ['13.94%'],
 ['399.921'],
 ['-'],
 ['2,039,074'],
 ['1,845,853'],
 ['8.63%'],
 ['247.629'],
 ['1,312,929'],
 ['1,215,307'],
 ['1,687,818'],
 ['8.39%'],
 ['240.726'],
 ['1,166,817'],
 ['1,123,982'],
 ['-'],
 ['7.96%'],
 ['228.290'],
 ['-'],
 ['1,186,379'],
 ['1,631,977'],
 ['7.91%'],
 ['226.806'],
 ['1,156,039'],
 ['1,091,077'],
 ['1,253,832'],
 ['5.77%'],
 ['165.556'],
 ['793,223'],
 ['739,525'],
 ['1,020,989'],
 ['4.99%'],
 ['143.179'],
 ['711,627'],
 ['677,428'],
 ['972,782'],
 ['4.57%'],
 ['131.083'],
 ['672,018'],
 ['621,301'],
 ['969,604'],
 ['4.56%'],
 ['130.791'],
 ['663,258'],
 ['612,828'],
 ['906,672'],
 ['4.29%'],
 ['122.977'],
 ['561,801'],
 ['522,009'],
 ['-'],
 ['4.14%'],
 ['118.733'],
 ['-'],
 ['559,412'],
 ['856,112'],
 ['4.10%'],
 ['117.703'],
 ['634,408'],
 ['590,569'],
 ['831,610'],
 ['3.89%'],
 ['111.519'],
 ['572,240'],
 ['531,085'],
 ['611,804'],
 ['2.81%'],
 ['80.562'],
 ['414,977'],
 ['375,651'],
 ['574,760'],
 ['2.79%'],
 ['79.957'],
 ['418,868'],
 ['397,669'],
 ['521,275'],
 ['2.58%'],
 ['74.098'],
 ['396,499'],
 ['376,877'],
 ['-'],
 ['1.67%'],
 ['47.982'],
 ['-'],
 ['234,048'],
 ['329,180'],
 ['1.61%'],
 ['46.187'],
 ['243,477'],
 ['231,182'],
 ['328,598'],
 ['1.57%'],
 ['45.145'],
 ['240,036'],
 ['224,986'],
 ['-'],
 ['1.30%'],
 ['37.351'],
 ['-'],
 ['193,273'],
 ['-'],
 ['0.83%'],
 ['23.690'],
 ['-'],
 ['112,755'],
 ['165,472'],
 ['0.81%'],
 ['23.369'],
 ['124,403'],
 ['117,851'],
 ['80,449'],
 ['0.39%'],
 ['11.115'],
 ['63,408'],
 ['57,787'],
 ['55,984'],
 ['0.26%'],
 ['7.571'],
 ['40,583'],
 ['36,963'],
 ['-'],
 ['0.22%'],
 ['6.397'],
 ['-'],
 ['31,192'],
 ['38,253'],
 ['0.18%'],
 ['5.230'],
 ['25,093'],
 ['23,013'],
 ['36,572'],
 ['0.18%'],
 ['5.086'],
 ['26,695'],
 ['24,682'],
 ['32,496'],
 ['0.15%'],
 ['4.363'],
 ['20,017'],
 ['18,722'],
 ['31,790'],
 ['0.15%'],
 ['4.233'],
 ['20,673'],
 ['19,300'],
 ['-'],
 ['0.14%'],
 ['4.144'],
 ['-'],
 ['17,647'],
 ['-'],
 ['0.13%'],
 ['3.737'],
 ['-'],
 ['16,676'],
 ['26,503'],
 ['0.12%'],
 ['3.385'],
 ['18,797'],
 ['16,478'],
 ['-'],
 ['-'],
 ['-'],
 ['-'],
 ['-']]

In [106]:
GSDP_19_20=GSDP_list[0:165:5]
GSDP_19_20

[['-'],
 ['1,845,853'],
 ['1,687,818'],
 ['-'],
 ['1,631,977'],
 ['1,253,832'],
 ['1,020,989'],
 ['972,782'],
 ['969,604'],
 ['906,672'],
 ['-'],
 ['856,112'],
 ['831,610'],
 ['611,804'],
 ['574,760'],
 ['521,275'],
 ['-'],
 ['329,180'],
 ['328,598'],
 ['-'],
 ['-'],
 ['165,472'],
 ['80,449'],
 ['55,984'],
 ['-'],
 ['38,253'],
 ['36,572'],
 ['32,496'],
 ['31,790'],
 ['-'],
 ['-'],
 ['26,503'],
 ['-']]

In [109]:
share_18_19=GSDP_list[1:165:5]
share_18_19

[['13.94%'],
 ['8.63%'],
 ['8.39%'],
 ['7.96%'],
 ['7.91%'],
 ['5.77%'],
 ['4.99%'],
 ['4.57%'],
 ['4.56%'],
 ['4.29%'],
 ['4.14%'],
 ['4.10%'],
 ['3.89%'],
 ['2.81%'],
 ['2.79%'],
 ['2.58%'],
 ['1.67%'],
 ['1.61%'],
 ['1.57%'],
 ['1.30%'],
 ['0.83%'],
 ['0.81%'],
 ['0.39%'],
 ['0.26%'],
 ['0.22%'],
 ['0.18%'],
 ['0.18%'],
 ['0.15%'],
 ['0.15%'],
 ['0.14%'],
 ['0.13%'],
 ['0.12%'],
 ['-']]

In [110]:
GDP_billion=GSDP_list[2:165:5]
GDP_billion

[['399.921'],
 ['247.629'],
 ['240.726'],
 ['228.290'],
 ['226.806'],
 ['165.556'],
 ['143.179'],
 ['131.083'],
 ['130.791'],
 ['122.977'],
 ['118.733'],
 ['117.703'],
 ['111.519'],
 ['80.562'],
 ['79.957'],
 ['74.098'],
 ['47.982'],
 ['46.187'],
 ['45.145'],
 ['37.351'],
 ['23.690'],
 ['23.369'],
 ['11.115'],
 ['7.571'],
 ['6.397'],
 ['5.230'],
 ['5.086'],
 ['4.363'],
 ['4.233'],
 ['4.144'],
 ['3.737'],
 ['3.385'],
 ['-']]

In [111]:
print(len(rank),len(state),len(GSDP_19_20),len(GSDP_18_19),len(share_18_19),len(GDP_billion))

33 33 33 33 33 33

In [112]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':GSDP_19_20,'GSDP(18-19)':GSDP_18_19,'Share(18-19)':share_18_19,'GDP(Billion)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion)
0,[1],[Maharashtra],[-],"[2,632,792]",[13.94%],[399.921]
1,[2],"[Tamil, Nadu]","[1,845,853]","[1,630,208]",[8.63%],[247.629]
2,[3],"[Uttar, Pradesh]","[1,687,818]","[1,584,764]",[8.39%],[240.726]
3,[4],[Gujarat],[-],"[1,502,899]",[7.96%],[228.290]
4,[5],[Karnataka],"[1,631,977]","[1,493,127]",[7.91%],[226.806]
5,[6],"[West, Bengal]","[1,253,832]","[1,089,898]",[5.77%],[165.556]
6,[7],[Rajasthan],"[1,020,989]","[942,586]",[4.99%],[143.179]
7,[8],"[Andhra, Pradesh]","[972,782]","[862,957]",[4.57%],[131.083]
8,[9],[Telangana],"[969,604]","[861,031]",[4.56%],[130.791]
9,[10],"[Madhya, Pradesh]","[906,672]","[809,592]",[4.29%],[122.977]
10,[11],[Kerala],[-],"[781,653]",[4.14%],[118.733]
11,[12],[Delhi],"[856,112]","[774,870]",[4.10%],[117.703]
12,[13],[Haryana],"[831,610]","[734,163]",[3.89%],[111.519]
13,[14],[Bihar],"[611,804]","[530,363]",[2.81%],[80.562]
14,[15],[Punjab],"[574,760]","[526,376]",[2.79%],[79.957]
15,[16],[Odisha],"[521,275]","[487,805]",[2.58%],[74.098]
16,[17],[Assam],[-],"[315,881]",[1.67%],[47.982]
17,[18],[Chhattisgarh],"[329,180]","[304,063]",[1.61%],[46.187]
18,[19],[Jharkhand],"[328,598]","[297,204]",[1.57%],[45.145]
19,[20],[Uttarakhand],[-],"[245,895]",[1.30%],[37.351]
20,[21],"[Jammu, &, Kashmir]",[-],"[155,956]",[0.83%],[23.690]
21,[22],"[Himachal, Pradesh]","[165,472]","[153,845]",[0.81%],[23.369]
22,[23],[Goa],"[80,449]","[73,170]",[0.39%],[11.115]
23,[24],[Tripura],"[55,984]","[49,845]",[0.26%],[7.571]
24,[25],[Chandigarh],[-],"[42,114]",[0.22%],[6.397]
25,[26],[Puducherry],"[38,253]","[34,433]",[0.18%],[5.230]
26,[27],[Meghalaya],"[36,572]","[33,481]",[0.18%],[5.086]
27,[28],[Sikkim],"[32,496]","[28,723]",[0.15%],[4.363]
28,[29],[Manipur],"[31,790]","[27,870]",[0.15%],[4.233]
29,[30],[Nagaland],[-],"[27,283]",[0.14%],[4.144]
30,[31],"[Arunachal, Pradesh]",[-],"[24,603]",[0.13%],[3.737]
31,[32],[Mizoram],"[26,503]","[22,287]",[0.12%],[3.385]
32,[33],"[Andaman, &, Nicobar, Islands]",[-],[-],[-],[-]

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [113]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [117]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://github.com/")
time.sleep(3)

In [121]:
c1=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]')
c1.click()

In [122]:
c2=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
c2.click()

In [140]:
repository_title=[]
rt=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in rt[0:25]:
    rt1=i.text.split()[0]
    repository_title.append(rt1)
    
repository_des=[]
rd=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in rd[0:25]:
    rd1=i.text
    repository_des.append(rd1)
    
language_used=[]
lu=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lu[0:25]:
    lu1=i.text
    language_used.append(lu1)

In [131]:
multiple_data=[]
md=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in md[0:50]:
    md1=i.text.split()
    multiple_data.append(md1)

In [132]:
multiple_data

[['2,137'],
 ['182'],
 ['3,219'],
 ['338'],
 ['1,264'],
 ['363'],
 ['10,673'],
 ['463'],
 ['4,496'],
 ['95'],
 ['31,624'],
 ['2,511'],
 ['15,485'],
 ['1,983'],
 ['143,206'],
 ['36,626'],
 ['62,330'],
 ['5,909'],
 ['440'],
 ['87'],
 ['2,015'],
 ['40'],
 ['1,201'],
 ['135'],
 ['596'],
 ['15'],
 ['579'],
 ['33'],
 ['8,452'],
 ['1,953'],
 ['11,839'],
 ['785'],
 ['6,224'],
 ['11,594'],
 ['14,235'],
 ['873'],
 ['141,082'],
 ['21,839'],
 ['77,849'],
 ['4,434'],
 ['2,265'],
 ['555'],
 ['86'],
 ['7'],
 ['39,113'],
 ['2,856'],
 ['17,549'],
 ['1,318'],
 ['12,561'],
 ['7,707']]

In [134]:
contributors_count=multiple_data[1:50:2]
contributors_count

[['182'],
 ['338'],
 ['363'],
 ['463'],
 ['95'],
 ['2,511'],
 ['1,983'],
 ['36,626'],
 ['5,909'],
 ['87'],
 ['40'],
 ['135'],
 ['15'],
 ['33'],
 ['1,953'],
 ['785'],
 ['11,594'],
 ['873'],
 ['21,839'],
 ['4,434'],
 ['555'],
 ['7'],
 ['2,856'],
 ['1,318'],
 ['7,707']]

In [141]:
language_used

['Python',
 'Python',
 'Shell',
 'TypeScript',
 'Rust',
 'Python',
 'Java',
 'Python',
 'Rust',
 'TypeScript',
 'Python',
 'Jupyter Notebook',
 'JavaScript',
 'Jupyter Notebook',
 'Lua',
 'Markdown',
 'TypeScript',
 'Python',
 'C#',
 'Java',
 'C',
 'Zig',
 'C']

In [142]:
len(language_used)

23

In [143]:
language_used.insert(-3,'-')

In [145]:
language_used.insert(8,'-')

In [146]:
language_used

['Python',
 'Python',
 'Shell',
 'TypeScript',
 'Rust',
 'Python',
 'Java',
 'Python',
 '-',
 'Rust',
 'TypeScript',
 'Python',
 'Jupyter Notebook',
 'JavaScript',
 'Jupyter Notebook',
 'Lua',
 'Markdown',
 'TypeScript',
 'Python',
 'C#',
 'Java',
 '-',
 'C',
 'Zig',
 'C']

In [149]:
print(len(repository_title),len(repository_des),len(contributors_count),len(language_used))

25 25 25 25

In [150]:
df=pd.DataFrame({'Repository Title':repository_title,'Repository Description':repository_des,'Contributors Count':contributors_count,'Language Used':language_used})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,AUTOMATIC1111,Stable Diffusion web UI,[182],Python
1,sd-webui,Stable Diffusion web UI,[338],Python
2,somebasj,Parallels Desktop for mac Crack,[363],Shell
3,AykutSarac,ðŸ”® Seamlessly visualize your JSON data instantl...,[463],TypeScript
4,surrealdb,"A scalable, distributed, collaborative, docume...",[95],Rust
5,yt-dlp,A youtube-dl fork with additional features and...,"[2,511]",Python
6,termux,Termux - a terminal emulator application for A...,"[1,983]",Java
7,TheAlgorithms,All Algorithms implemented in Python,"[36,626]",Python
8,mtdvio,A collection of (mostly) technical things ever...,"[5,909]",-
9,Alcibiades-Capital,A MEV bundle generator written in Rust,[87],Rust
10,meienberger,â›ºï¸ Tipi is a homeserver for everyone! One comm...,[40],TypeScript
11,hiroi-sora,OCRæ‰¹é‡å›¾ç‰‡è½¬æ–‡å­—è¯†åˆ«è½¯ä»¶ï¼Œå¸¦ç•Œé¢ï¼Œç¦»çº¿è¿è¡Œã€‚å¯æŽ’é™¤å›¾ç‰‡ä¸­æ°´å°åŒºåŸŸçš„å¹²æ‰°ï¼Œæå–å¹²å‡€çš„æ–‡æœ¬ã€‚...,[135],Python
12,karpathy,Neural Networks: Zero to Hero,[15],Jupyter Notebook
13,benphelps,A highly customizable homepage (or startpage /...,[33],JavaScript
14,jaakkopasanen,Automatic headphone equalization from frequenc...,"[1,953]",Jupyter Notebook
15,NvChad,An attempt to make neovim cli functional like ...,[785],Lua
16,mdn,The content behind MDN Web Docs,"[11,594]",Markdown
17,mantinedev,React components library with native dark them...,[873],TypeScript
18,vinta,"A curated list of awesome Python frameworks, l...","[21,839]",Python
19,microsoft,Windows system utilities to maximize productivity,"[4,434]",C#
20,apache,"StreamPark, Make stream processing easier! eas...",[555],Java
21,34306,"This repo saved iPA for TrollStore, work as ja...",[7],-
22,ventoy,A new bootable USB solution.,"[2,856]",C
23,ziglang,General-purpose programming language and toolc...,"[1,318]",Zig
24,openwrt,This repository is a mirror of https://git.ope...,"[7,707]",C

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [151]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [152]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https:/www.billboard.com/")
time.sleep(3)

In [153]:
c1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]')
c1.click()

In [154]:
c2=driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]')
c2.click()

In [170]:
last_week=[]
pos_list=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in pos_list[0:100]:
    lw1=i.text.split()[-3]
    last_week.append(lw1)
    
peak_rank=[]
pos_list=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in pos_list[0:100]:
    pr1=i.text.split()[-2]
    peak_rank.append(pr1)
    
week_board=[]
pos_list=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in pos_list[0:100]:
    wb1=i.text.split()[-1]
    week_board.append(wb1)
    
song_name=[]
sn=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in sn[0:99]:
    sn1=i.text
    song_name.append(sn1)
    
artist_name=[]
an=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in an[0:99]:
    an1=i.text
    artist_name.append(an1)

In [186]:
first_song=[]
fs=driver.find_element(By.XPATH,'//li[@class="o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light  lrv-u-padding-l-1@mobile-max"]')
first_song.append(fs.text.replace('\n'," "))

In [187]:
first_song

['As It Was Harry Styles']

In [193]:
first_song_name=[first_song[0][:9]]
first_song_name

['As It Was']

In [194]:
first_artist_name=[first_song[0][10:]]
first_artist_name

['Harry Styles']

In [195]:
new_song_name=first_song_name+song_name
new_song_name

['As It Was',
 'Bad Habit',
 'About Damn Time',
 'Running Up That Hill (A Deal With God)',
 'Sunroof',
 'Hold Me Closer',
 'Super Freaky Girl',
 'I Like You (A Happier Song)',
 'Break My Soul',
 'Wait For U',
 'Me Porto Bonito',
 'Late Night Talking',
 'You Proof',
 "I Ain't Worried",
 'The Kind Of Love We Make',
 'Titi Me Pregunto',
 'God Did',
 'First Class',
 'Heat Waves',
 'Wasted On You',
 'Staying Alive',
 'She Had Me At Heads Carolina',
 'Jimmy Cooks',
 'Stay',
 'Vegas',
 'Glimpse Of Us',
 'Last Night Lonely',
 '5 Foot 9',
 'Beautiful',
 'Moscow Mule',
 'Big Time',
 'Big Energy',
 'Betty (Get Money)',
 'Ghost',
 'Shivers',
 'Beat The Odds',
 'Gatubela',
 'Rock And A Hard Place',
 'Efecto',
 'In A Minute',
 'Cold Heart (PNAU Remix)',
 'Something In The Orange',
 'Son Of A Sinner',
 'Numb',
 'Fall In Love',
 'Provenza',
 'Left And Right',
 'Numb Little Bug',
 'Use This Gospel (Remix)',
 'Unstoppable',
 'Wishful Drinking',
 'Like I Love Country Music',
 'Pink Venom',
 'Dah Dah DahDah',
 'Juice WRLD Did',
 'Sticky',
 'Keep Going',
 'Bones',
 'Victoriaâ€™s Secret',
 'Hot Shit',
 'Free Mind',
 'Sleazy Flow',
 'So Good',
 'With A Woman You Love',
 'Party',
 'Party',
 'Last Last',
 'Ojitos Lindos',
 'Die For You',
 'Truth About You',
 'Golden Hour',
 'Where It Ends',
 "F.N.F. (Let's Go)",
 'Despues de La Playa',
 'Despecha',
 'Alone',
 "It Ain't Safe",
 'No Secret',
 'Neverita',
 'Pick Me Up',
 "I'm Good (Blue)",
 'Whiskey On You',
 'Tarot',
 'She Likes It',
 'Ghost Story',
 "Let's Pray",
 'Until I Found You',
 'All Mine',
 'Bad Decisions',
 'Alien Superstar',
 'Puffin On Zootiez',
 'Half Of Me',
 'What My World Spins Around',
 'Hotel Lobby (Unc And Phew)',
 'La Bachata',
 'Thought You Should Know',
 '2 Be Loved (Am I Ready)',
 'Wait In The Truck',
 'La Corriente',
 'Bzrp Music Sessions, Vol. 52']

In [196]:
new_artist_name=first_artist_name+artist_name
new_artist_name

['Harry Styles',
 'Steve Lacy',
 'Lizzo',
 'Kate Bush',
 'Nicky Youre & dazy',
 'Elton John & Britney Spears',
 'Nicki Minaj',
 'Post Malone Featuring Doja Cat',
 'Beyonce',
 'Future Featuring Drake & Tems',
 'Bad Bunny & Chencho Corleone',
 'Harry Styles',
 'Morgan Wallen',
 'OneRepublic',
 'Luke Combs',
 'Bad Bunny',
 'DJ Khaled Featuring Rick Ross, Lil Wayne, JAY-Z, John Legend & Fridayy',
 'Jack Harlow',
 'Glass Animals',
 'Morgan Wallen',
 'DJ Khaled Featuring Drake & Lil Baby',
 'Cole Swindell',
 'Drake Featuring 21 Savage',
 'The Kid LAROI & Justin Bieber',
 'Doja Cat',
 'Joji',
 'Jon Pardi',
 'Tyler Hubbard',
 'DJ Khaled Featuring Future & SZA',
 'Bad Bunny',
 'DJ Khaled Featuring Future & Lil Baby',
 'Latto',
 'Yung Gravy',
 'Justin Bieber',
 'Ed Sheeran',
 'Lil Tjay',
 'Karol G x Maldy',
 'Bailey Zimmerman',
 'Bad Bunny',
 'Lil Baby',
 'Elton John & Dua Lipa',
 'Zach Bryan',
 'Jelly Roll',
 'Marshmello & Khalid',
 'Bailey Zimmerman',
 'Karol G',
 'Charlie Puth Featuring Jung Kook',
 'Em Beihold',
 'DJ Khaled Featuring Kanye West & Eminem',
 'Sia',
 'Ingrid Andress With Sam Hunt',
 'Kane Brown',
 'BLACKPINK',
 'Nardo Wick',
 'DJ Khaled Featuring Juice WRLD',
 'Drake',
 'DJ Khaled Featuring Lil Durk, 21 Savage & Roddy Ricch',
 'Imagine Dragons',
 'Jax',
 'Cardi B, Ye & Lil Durk',
 'Tems',
 'SleazyWorld Go Featuring Lil Baby',
 'Halsey',
 'Justin Moore',
 'Bad Bunny & Rauw Alejandro',
 'DJ Khaled Featuring Quavo & Takeoff',
 'Burna Boy',
 'Bad Bunny & Bomba Estereo',
 'The Weeknd',
 'Mitchell Tenpenny',
 'JVKE',
 'Bailey Zimmerman',
 'Hitkidd & GloRilla',
 'Bad Bunny',
 'Rosalia',
 'Rod Wave',
 'DJ Khaled Featuring Nardo Wick & Kodak Black',
 'DJ Khaled Featuring Drake',
 'Bad Bunny',
 'Gabby Barrett',
 'David Guetta & Bebe Rexha',
 'Nate Smith',
 'Bad Bunny & Jhay Cortez',
 'Russell Dickerson & Jake Scott',
 'Carrie Underwood',
 'DJ Khaled Featuring Don Toliver & Travis Scott',
 'Stephen Sanchez',
 'Brent Faiyaz',
 'benny blanco, BTS & Snoop Dogg',
 'Beyonce',
 'Future',
 'Thomas Rhett Featuring Riley Green',
 'Jordan Davis',
 'Quavo & Takeoff',
 'Manuel Turizo',
 'Morgan Wallen',
 'Lizzo',
 'HARDY Featuring Lainey Wilson',
 'Bad Bunny & Tony Dize',
 'Bizarrap & Quevedo']

In [197]:
print(len(new_song_name),len(new_artist_name),len(last_week),len(peak_rank),len(week_board))

100 100 100 100 100

In [198]:
df=pd.DataFrame({'Song Name':new_song_name,'Artist Name':new_artist_name,'Last Week Rank':last_week,'Peak Rank':peak_rank,'Weeks on Board':week_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,As It Was,Harry Styles,1,1,22
1,Bad Habit,Steve Lacy,3,2,9
2,About Damn Time,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God),Kate Bush,4,3,34
4,Sunroof,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,81,12,17
96,2 Be Loved (Am I Ready),Lizzo,95,84,3
97,Wait In The Truck,HARDY Featuring Lainey Wilson,-,98,1
98,La Corriente,Bad Bunny & Tony Dize,87,32,14
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,82,82,4

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ - "https://www.naukri.com/hr-recruiters-consultants"
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [65]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [66]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://www.naukri.com/hr-recruiters-consultants")
time.sleep(3)

In [11]:
#can't find recruiter option on page

In [67]:
d=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
d.send_keys('Data Science')

In [68]:
c1=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[2]/ul/li[1]')
c1.click()
time.sleep(3)
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search.click()

In [69]:
name=[]
n1=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in n1[0:50]:
    n11=i.text
    name.append(n11)
    
designation=[]
d1=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in d1[0:50]:
    d11=i.text
    designation.append(d11)
    
skills=[]
s1=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in s1[0:50]:
    s11=i.text
    skills.append(s11)

location=[]
l1=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in l1[0:50]:
    l11=i.text
    location.append(l11)

In [70]:
location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad']

In [71]:
location.insert(29,'-')

In [72]:
location.insert(48,'-')

In [73]:
print(len(name),len(designation),len(skills),len(location))

50 50 50 50

In [74]:
df=pd.DataFrame({'Name':name,'Designation':designation,'Skills':skills,'Location':location})
df

,Name,Designation,Skills,Location
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Data Science,Chennai
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele...",Mumbai
14,Vaishnavi Kudalkar,HR Executive,"Data Science, Python, Data Analytics",Mumbai
15,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne...",-
30,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,"Machine Learning, Data Science, Product Manage...",-
49,SREEDHAR,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [6]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(3)

In [11]:
book_name=[]
book=driver.find_element(By.XPATH,'//td[@id="table-cell-10943-0-1"]')
book_name.append(book.text)

author_name=[]
author=driver.find_element(By.XPATH,'//td[@id="table-cell-10943-0-2"]')
author_name.append(author.text)

volume_sold=[]
volume=driver.find_element(By.XPATH,'//td[@id="table-cell-10943-0-3"]')
volume_sold.append(volume.text)

publisher=[]
pub=driver.find_element(By.XPATH,'//td[@id="table-cell-10943-0-4"]')
publisher.append(pub.text)

genre=[]
g=driver.find_element(By.XPATH,'//td[@id="table-cell-10943-0-5"]')
genre.append(g.text)

In [13]:
df=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volume Sold':volume_sold,'Publisher':publisher,'Genre':genre})
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [16]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(3)

In [17]:
list_title=[]
list_=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in list_[0:100]:
    title=i.text.split()
    list_title.append(title)

In [31]:
name_=[]
n=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in n[0:100]:
    n1=i.text.split()[1:-1]
    name_.append(n1)
    
year_span=[]
y=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in y[0:100]:
    y1=i.text
    year_span.append(y1)
    
genre_=[]
g=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in g[0:100]:
    g1=i.text
    genre_.append(g1)
    
run_time=[]
r=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in r[0:100]:
    r1=i.text
    run_time.append(r1)
    
ratings=[]
rating=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating[0:100]:
    rat1=i.text
    ratings.append(rat1)
    
votes=[]
v=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in v[0:100]:
    v1=i.text
    votes.append(v1)

In [33]:
print(len(name_),len(year_span),len(genre_),len(run_time),len(ratings),len(votes))

100 100 100 100 100 100

In [34]:
df=pd.DataFrame({'Name':name_,'Year Span':year_span,'Genre':genre_,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,"[Game, of, Thrones]",(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"2,047,798"
1,"[Stranger, Things, (2016â€“]",(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"1,144,171"
2,"[The, Walking, Dead]",(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"967,852"
3,"[13, Reasons, Why]",(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"288,737"
4,"[The, 100]",(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,307"
...,...,...,...,...,...,...
95,[Reign],(2013â€“2017),Drama,42 min,7.4,"49,540"
96,"[A, Series, of, Unfortunate, Events]",(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"60,545"
97,"[Criminal, Minds]",(2005â€“2020),"Crime, Drama, Mystery",42 min,8.1,"194,718"
98,"[Scream:, The, TV, Series]",(2015â€“2019),"Comedy, Crime, Drama",45 min,7.1,"41,013"
99,"[The, Haunting, of, Hill, House]",(2018),"Drama, Horror, Mystery",572 min,8.6,"236,269"

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [6]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)
driver.get("https://archive.ics.uci.edu/")
time.sleep(3)

In [7]:
c1=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
c1.click()

In [8]:
name=[]
n=driver.find_elements(By.XPATH,'//p[@class="normal"]/b')
for i in n[0:622]:
    n1=i.text
    name.append(n1)

In [9]:
name

['Abalone',
 'Adult',
 'Annealing',
 'Anonymous Microsoft Web Data',
 'Arrhythmia',
 'Artificial Characters',
 'Audiology (Original)',
 'Audiology (Standardized)',
 'Auto MPG',
 'Automobile',
 'Badges',
 'Balance Scale',
 'Balloons',
 'Breast Cancer',
 'Breast Cancer Wisconsin (Original)',
 'Breast Cancer Wisconsin (Prognostic)',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Pittsburgh Bridges',
 'Car Evaluation',
 'Census Income',
 'Chess (King-Rook vs. King-Knight)',
 'Chess (King-Rook vs. King-Pawn)',
 'Chess (King-Rook vs. King)',
 'Chess (Domain Theories)',
 'Bach Chorales',
 'Connect-4',
 'Credit Approval',
 'Japanese Credit Screening',
 'Computer Hardware',
 'Contraceptive Method Choice',
 'Covertype',
 'Cylinder Bands',
 'Dermatology',
 'Diabetes',
 'DGP2 - The Second Data Generation Program',
 'Document Understanding',
 'EBL Domain Theories',
 'Echocardiogram',
 'Ecoli',
 'Flags',
 'Function Finding',
 'Glass Identification',
 "Haberman's Survival",
 'Hayes-Roth',
 'Heart Disease',
 'Hepatitis',
 'Horse Colic',
 'ICU',
 'Image Segmentation',
 'Internet Advertisements',
 'Ionosphere',
 'Iris',
 'ISOLET',
 'Kinship',
 'Labor Relations',
 'LED Display Domain',
 'Lenses',
 'Letter Recognition',
 'Liver Disorders',
 'Logic Theorist',
 'Lung Cancer',
 'Lymphography',
 'Mechanical Analysis',
 'Meta-data',
 'Mobile Robots',
 'Molecular Biology (Promoter Gene Sequences)',
 'Molecular Biology (Protein Secondary Structure)',
 'Molecular Biology (Splice-junction Gene Sequences)',
 "MONK's Problems",
 'Moral Reasoner',
 'Multiple Features',
 'Mushroom',
 'Musk (Version 1)',
 'Musk (Version 2)',
 'Nursery',
 'Othello Domain Theory',
 'Page Blocks Classification',
 'Optical Recognition of Handwritten Digits',
 'Pen-Based Recognition of Handwritten Digits',
 'Post-Operative Patient',
 'Primary Tumor',
 'Prodigy',
 'Qualitative Structure Activity Relationships',
 'Quadruped Mammals',
 'Servo',
 'Shuttle Landing Control',
 'Solar Flare',
 'Soybean (Large)',
 'Soybean (Small)',
 'Challenger USA Space Shuttle O-Ring',
 'Low Resolution Spectrometer',
 'Spambase',
 'SPECT Heart',
 'SPECTF Heart',
 'Sponge',
 'Statlog Project',
 'Student Loan Relational',
 'Teaching Assistant Evaluation',
 'Tic-Tac-Toe Endgame',
 'Thyroid Disease',
 'Trains',
 'University',
 'Congressional Voting Records',
 'Water Treatment Plant',
 'Waveform Database Generator (Version 1)',
 'Waveform Database Generator (Version 2)',
 'Wine',
 'Yeast',
 'Zoo',
 'Undocumented',
 'Twenty Newsgroups',
 'Australian Sign Language signs',
 'Australian Sign Language signs (High Quality)',
 'US Census Data (1990)',
 'Census-Income (KDD)',
 'Coil 1999 Competition Data',
 'Corel Image Features',
 'E. Coli Genes',
 'EEG Database',
 'El Nino',
 'Entree Chicago Recommendation Data',
 'CMU Face Images',
 'Insurance Company Benchmark (COIL 2000)',
 'Internet Usage Data',
 'IPUMS Census Database',
 'Japanese Vowels',
 'KDD Cup 1998 Data',
 'KDD Cup 1999 Data',
 'M. Tuberculosis Genes',
 'Movie',
 'MSNBC.com Anonymous Web Data',
 'NSF Research Award Abstracts 1990-2003',
 'Pioneer-1 Mobile Robot Data',
 'Pseudo Periodic Synthetic Time Series',
 'Reuters-21578 Text Categorization Collection',
 'Robot Execution Failures',
 'Synthetic Control Chart Time Series',
 'Syskill and Webert Web Page Ratings',
 'UNIX User Data',
 'Volcanoes on Venus - JARtool experiment',
 'Statlog (Australian Credit Approval)',
 'Statlog (German Credit Data)',
 'Statlog (Heart)',
 'Statlog (Landsat Satellite)',
 'Statlog (Image Segmentation)',
 'Statlog (Shuttle)',
 'Statlog (Vehicle Silhouettes)',
 'Connectionist Bench (Nettalk Corpus)',
 'Connectionist Bench (Sonar, Mines vs. Rocks)',
 'Connectionist Bench (Vowel Recognition - Deterding Data)',
 'Economic Sanctions',
 'Protein Data',
 'Cloud',
 'CalIt2 Building People Counts',
 'Dodgers Loop Sensor',
 'Poker Hand',
 'MAGIC Gamma Telescope',
 'UJI Pen Characters',
 'Mammographic Mass',
 'Forest Fires',
 'Reuters Transcribed Subset',
 'Bag of Words',
 'Concrete Compressive Strength',
 'Hill-Valley',
 'Arcene',
 'Dexter',
 'Dorothea',
 'Gisette',
 'Madelon',
 'Ozone Level Detection',
 'Abscisic Acid Signaling Network',
 'Parkinsons',
 'Character Trajectories',
 'Blood Transfusion Service Center',
 'UJI Pen Characters (Version 2)',
 'Semeion Handwritten Digit',
 'SECOM',
 'Plants',
 'Libras Movement',
 'Concrete Slump Test',
 'Communities and Crime',
 'Acute Inflammations',
 'Wine Quality',
 'URL Reputation',
 'p53 Mutants',
 'Parkinsons Telemonitoring',
 'Demospongiae',
 'Opinosis Opinion â„ Review',
 'Breast Tissue',
 'Cardiotocography',
 'Wall-Following Robot Navigation Data',
 'Spoken Arabic Digit',
 'Localization Data for Person Activity',
 'AutoUniv',
 'Steel Plates Faults',
 'MiniBooNE particle identification',
 'YearPredictionMSD',
 'PEMS-SF',
 'OpinRank Review Dataset',
 'Relative location of CT slices on axial axis',
 'Online Handwritten Assamese Characters Dataset',
 'PubChem Bioassay Data',
 'Record Linkage Comparison Patterns',
 'Communities and Crime Unnormalized',
 'Vertebral Column',
 'EMG Physical Action Data Set',
 'Vicon Physical Action Data Set',
 'Amazon Commerce reviews set',
 'Amazon Access Samples',
 'Reuter_50_50',
 'Farm Ads',
 'DBWorld e-mails',
 'KEGG Metabolic Relation Network (Directed)',
 'KEGG Metabolic Reaction Network (Undirected)',
 'Bank Marketing',
 'YouTube Comedy Slam Preference Data',
 'Gas Sensor Array Drift Dataset',
 'ILPD (Indian Liver Patient Dataset)',
 'OPPORTUNITY Activity Recognition',
 'Nomao',
 'SMS Spam Collection',
 'Skin Segmentation',
 'Planning Relax',
 'PAMAP2 Physical Activity Monitoring',
 'Restaurant & consumer data',
 'CNAE-9',
 'Individual household electric power consumption',
 'seeds',
 'Northix',
 'QtyT40I10D100K',
 'Legal Case Reports',
 'Human Activity Recognition Using Smartphones',
 'One-hundred plant species leaves data set',
 'Energy efficiency',
 'Yacht Hydrodynamics',
 'Fertility',
 'Daphnet Freezing of Gait',
 '3D Road Network (North Jutland, Denmark)',
 'ISTANBUL STOCK EXCHANGE',
 'Buzz in social media',
 'First-order theorem proving',
 'Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)',
 'Gas sensor arrays in open sampling settings',
 'Climate Model Simulation Crashes',
 'MicroMass',
 'QSAR biodegradation',
 'BLOGGER',
 'Daily and Sports Activities',
 'User Knowledge Modeling',
 'Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection',
 'NYSK',
 'Turkiye Student Evaluation',
 "ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)",
 'EEG Eye State',
 'Physicochemical Properties of Protein Tertiary Structure',
 'seismic-bumps',
 'banknote authentication',
 'USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat',
 'YouTube Multiview Video Games Dataset',
 'Gas Sensor Array Drift Dataset at Different Concentrations',
 'Activities of Daily Living (ADLs) Recognition Using Binary Sensors',
 'SkillCraft1 Master Table Dataset',
 'Weight Lifting Exercises monitored with Inertial Measurement Units',
 'SML2010',
 'Bike Sharing Dataset',
 'Predict keywords activities in a online social media',
 'Thoracic Surgery Data',
 'EMG dataset in Lower Limb',
 'SUSY',
 'HIGGS',
 'Qualitative_Bankruptcy',
 'LSVT Voice Rehabilitation',
 'Dataset for ADL Recognition with Wrist-worn Accelerometer',
 'Wilt',
 'User Identification From Walking Activity',
 'Activity Recognition from Single Chest-Mounted Accelerometer',
 'Leaf',
 'Dresses_Attribute_Sales',
 'Tamilnadu Electricity Board Hourly Readings',
 'Airfoil Self-Noise',
 'Wholesale customers',
 'Twitter Data set for Arabic Sentiment Analysis',
 'Combined Cycle Power Plant',
 'Urban Land Cover',
 'Diabetes 130-US hospitals for years 1999-2008',
 'Bach Choral Harmony',
 'StoneFlakes',
 'Tennis Major Tournament Match Statistics',
 'Parkinson Speech Dataset with Multiple Types of Sound Recordings',
 'Gesture Phase Segmentation',
 'Perfume Data',
 'BlogFeedback',
 'REALDISP Activity Recognition Dataset',
 'Newspaper and magazine images segmentation dataset',
 'AAAI 2014 Accepted Papers',
 'Gas sensor array under flow modulation',
 'Gas sensor array exposed to turbulent gas mixtures',
 'UJIIndoorLoc',
 'Sentence Classification',
 'Dow Jones Index',
 'sEMG for Basic Hand movements',
 'AAAI 2013 Accepted Papers',
 'Geographical Original of Music',
 'Condition Based Maintenance of Naval Propulsion Plants',
 'Grammatical Facial Expressions',
 'NoisyOffice',
 'MHEALTH Dataset',
 'Student Performance',
 'ElectricityLoadDiagrams20112014',
 'Gas sensor array under dynamic gas mixtures',
 'microblogPCU',
 'Firm-Teacher_Clave-Direction_Classification',
 'Dataset for Sensorless Drive Diagnosis',
 'TV News Channel Commercial Detection Dataset',
 'Phishing Websites',
 'Greenhouse Gas Observing Network',
 'Diabetic Retinopathy Debrecen Data Set',
 'HIV-1 protease cleavage',
 'Sentiment Labelled Sentences',
 'Online News Popularity',
 'Forest type mapping',
 'wiki4HE',
 'Online Video Characteristics and Transcoding Time Dataset',
 'Chronic_Kidney_Disease',
 'Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014',
 'Folio',
 'Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015',
 'Cuff-Less Blood Pressure Estimation',
 'Smartphone-Based Recognition of Human Activities and Postural Transitions',
 'Mice Protein Expression',
 'UJIIndoorLoc-Mag',
 'Heterogeneity Activity Recognition',
 'Educational Process Mining (EPM): A Learning Analytics Data Set',
 'HEPMASS',
 'Indoor User Movement Prediction from RSS data',
 'Open University Learning Analytics dataset',
 'default of credit card clients',
 'Mesotheliomaâ€™s disease data set',
 'Online Retail',
 'SIFT10M',
 'GPS Trajectories',
 'Detect Malacious Executable(AntiVirus)',
 'Occupancy Detection',
 'Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinsonâ€™s Disease',
 'News Aggregator',
 'Air Quality',
 'Twin gas sensor arrays',
 'Gas sensors for home activity monitoring',
 'Facebook Comment Volume Dataset',
 'Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)',
 'Polish companies bankruptcy data',
 'Activity Recognition system based on Multisensor data fusion (AReM)',
 'Dota2 Games Results',
 'Facebook metrics',
 'UbiqLog (smartphone lifelogging)',
 'NIPS Conference Papers 1987-2015',
 'HTRU2',
 'Drug consumption (quantified)',
 'Appliances energy prediction',
 'Miskolc IIS Hybrid IPS',
 'KDC-4007 dataset Collection',
 'Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone',
 'DrivFace',
 'Website Phishing',
 'YouTube Spam Collection',
 'Beijing PM2.5 Data',
 'Cargo 2000 Freight Tracking and Tracing',
 'Cervical cancer (Risk Factors)',
 'Quality Assessment of Digital Colposcopies',
 'KASANDR',
 'FMA: A Dataset For Music Analysis',
 'Air quality',
 'Epileptic Seizure Recognition',
 'Devanagari Handwritten Character Dataset',
 'Stock portfolio performance',
 'MoCap Hand Postures',
 'Early biomarkers of Parkinsonï¿½s disease based on natural connected speech',
 'Data for Software Engineering Teamwork Assessment in Education Setting',
 'PM2.5 Data of Five Chinese Cities',
 'Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet',
 'Sales_Transactions_Dataset_Weekly',
 'Las Vegas Strip',
 'Eco-hotel',
 'MEU-Mobile KSD',
 'Crowdsourced Mapping',
 'gene expression cancer RNA-Seq',
 'Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer',
 'chestnut â€“ LARVIC',
 'Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network',
 'Motion Capture Hand Postures',
 'Anuran Calls (MFCCs)',
 'TTC-3600: Benchmark dataset for Turkish text categorization',
 'Gastrointestinal Lesions in Regular Colonoscopy',
 'Daily Demand Forecasting Orders',
 'Paper Reviews',
 'extention of Z-Alizadeh sani dataset',
 'Z-Alizadeh Sani',
 'Dynamic Features of VirusShare Executables',
 'IDA2016Challenge',
 'DSRC Vehicle Communications',
 'Mturk User-Perceived Clusters over Images',
 'Character Font Images',
 'DeliciousMIL: A Data Set for Multi-Label Multi-Instance Learning with Instance Labels',
 'Autistic Spectrum Disorder Screening Data for Children',
 'Autistic Spectrum Disorder Screening Data for Adolescent',
 'APS Failure at Scania Trucks',
 'Wireless Indoor Localization',
 'HCC Survival',
 'CSM (Conventional and Social Media Movies) Dataset 2014 and 2015',
 'University of Tehran Question Dataset 2016 (UTQD.2016)',
 'Autism Screening Adult',
 'Activity recognition with healthy older people using a batteryless wearable sensor',
 'Immunotherapy Dataset',
 'Cryotherapy Dataset',
 'OCT data & Color Fundus Images of Left & Right Eyes',
 'Discrete Tone Image Dataset',
 'News Popularity in Multiple Social Media Platforms',
 'Ultrasonic flowmeter diagnostics',
 'ICMLA 2014 Accepted Papers Data Set',
 'BLE RSSI Dataset for Indoor localization and Navigation',
 'Container Crane Controller Data Set',
 'Residential Building Data Set',
 'Health News in Twitter',
 'chipseq',
 'SGEMM GPU kernel performance',
 'Repeat Consumption Matrices',
 'detection_of_IoT_botnet_attacks_N_BaIoT',
 'Absenteeism at work',
 'SCADI',
 'Condition monitoring of hydraulic systems',
 'Carbon Nanotubes',
 'Optical Interconnection Network',
 'Sports articles for objectivity analysis',
 'Breast Cancer Coimbra',
 'GNFUV Unmanned Surface Vehicles Sensor Data',
 'Dishonest Internet users Dataset',
 'Victorian Era Authorship Attribution',
 'Simulated Falls and Daily Living Activities Data Set',
 'Multimodal Damage Identification for Humanitarian Computing',
 'EEG Steady-State Visual Evoked Potential Signals',
 'Roman Urdu Data Set',
 'Avila',
 'PANDOR',
 'Drug Review Dataset (Druglib.com)',
 'Drug Review Dataset (Drugs.com)',
 'Physical Unclonable Functions',
 'Superconductivty Data',
 'WESAD (Wearable Stress and Affect Detection)',
 'GNFUV Unmanned Surface Vehicles Sensor Data Set 2',
 'Student Academics Performance',
 'Online Shoppers Purchasing Intention Dataset',
 'PMU-UD',
 "Parkinson's Disease Classification",
 'Electrical Grid Stability Simulated Data',
 'Caesarian Section Classification Dataset',
 'BAUM-1',
 'BAUM-2',
 'Audit Data',
 'BuddyMove Data Set',
 'Real estate valuation data set',
 'Early biomarkers of Parkinsonâ€™s disease based on natural connected speech Data Set',
 'Somerville Happiness Survey',
 '2.4 GHZ Indoor Channel Measurements',
 'EMG data for gestures',
 'Parking Birmingham',
 'Behavior of the urban traffic of the city of Sao Paulo in Brazil',
 'Travel Reviews',
 'Tarvel Review Ratings',
 'Rice Leaf Diseases',
 'Gas sensor array temperature modulation',
 'Facebook Live Sellers in Thailand',
 'Parkinson Dataset with replicated acoustic features',
 'Metro Interstate Traffic Volume',
 'Query Analytics Workloads Dataset',
 'Wave Energy Converters',
 'PPG-DaLiA',
 'Alcohol QCM Sensor Dataset',
 'Divorce Predictors data set',
 'Incident management process enriched event log',
 'Opinion Corpus for Lebanese Arabic Reviews (OCLAR)',
 'MEx',
 'Beijing Multi-Site Air-Quality Data',
 'Online Retail II',
 'Hepatitis C Virus (HCV) for Egyptian patients',
 'QSAR fish toxicity',
 'QSAR aquatic toxicity',
 'Human Activity Recognition from Continuous Ambient Sensor Data',
 'WISDM Smartphone and Smartwatch Activity and Biometrics Dataset',
 'QSAR oral toxicity',
 'QSAR androgen receptor',
 'QSAR Bioconcentration classes dataset',
 'QSAR fish bioconcentration factor (BCF)',
 'A study of Asian Religious and Biblical Texts',
 'Real-time Election Results: Portugal 2019',
 'Bias correction of numerical prediction model temperature forecast',
 'Bar Crawl: Detecting Heavy Drinking',
 'Kitsune Network Attack Dataset',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'Speaker Accent Recognition',
 'Heart failure clinical records',
 'Deepfakes: Medical Image Tamper Detection',
 'selfBACK',
 'South German Credit',
 'Exasens',
 'Swarm Behaviour',
 'Crop mapping using fused optical-radar data set',
 'BitcoinHeistRansomwareAddressDataset',
 'Facebook Large Page-Page Network',
 'Amphibians',
 'Early stage diabetes risk prediction dataset.',
 'Turkish Spam V01',
 'Stock keeping units',
 'Demand Forecasting for a store',
 'Detect Malware Types',
 'Wave Energy Converters',
 'Youtube cookery channels viewers comments in Hinglish',
 'Pedestrian in Traffic Dataset',
 'Cervical Cancer Behavior Risk',
 'Sattriya_Dance_Single_Hand_Gestures Dataset',
 'Divorce Predictors data set',
 '3W dataset',
 'Malware static and dynamic features VxHeaven and Virus Total',
 'Internet Firewall Data',
 'User Profiling and Abusive Language Detection Dataset',
 'Estimation of obesity levels based on eating habits and physical condition',
 'Rice (Cammeo and Osmancik)',
 'Vehicle routing and scheduling problems',
 'Algerian Forest Fires Dataset',
 'Breath Metabolomics',
 'Horton General Hospital',
 'UrbanGB, urban road accidents coordinates labelled by the urban center',
 'Gas Turbine CO and NOx Emission Data Set',
 'Activity recognition using wearable physiological measurements',
 'clickstream data for online shopping',
 'CNNpred: CNN-based stock market prediction using a diverse set of variables',
 'Apartment for rent classified',
 ': Simulated Data set of Iraqi tourism places',
 'Nasarian CAD Dataset',
 'Monolithic Columns in Troad and Mysia Region',
 'Bar Crawl: Detecting Heavy Drinking',
 'Seoul Bike Sharing Demand',
 'Person Classification Gait Data',
 'Shill Bidding Dataset',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Bone marrow transplant: children',
 'Exasens',
 'COVID-19 Surveillance',
 'Refractive errors',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'CLINC150',
 'HCV data',
 'Taiwanese Bankruptcy Prediction',
 'South German Credit (UPDATE)',
 'IIWA14-R820-Gazebo-Dataset-10Trajectories',
 'Guitar Chords finger positions',
 'Russian Corpus of Biographical Texts',
 'Codon usage',
 'Intelligent Media Accelerometer and Gyroscope (IM-AccGyro) Dataset',
 'Myocardial infarction complications',
 'Hungarian Chickenpox Cases',
 'Simulated data for survival modelling',
 'Student Performance on an entrance examination',
 'Chemical Composition of Ceramic Samples',
 'Labeled Text Forum Threads Dataset',
 'Stock keeping units',
 'BLE RSSI dataset for Indoor localization',
 'Basketball dataset',
 'GitHub MUSAE',
 'Anticancer peptides',
 'Monolithic Columns in Troad and Mysia Region',
 'Gender by Name',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Shoulder Implant Manufacture Classification',
 'LastFM Asia Social Network',
 'Wheat kernels',
 'Productivity Prediction of Garment Employees',
 'Multi-view Brain Networks',
 'LastFM Asia Social Network',
 'Wisesight Sentiment Corpus',
 'AI4I 2020 Predictive Maintenance Dataset',
 'Dry Bean Dataset',
 'in-vehicle coupon recommendation',
 'Gait Classification',
 'Wikipedia Math Essentials',
 'Wikipedia Math Essentials',
 'Synchronous Machine Data Set',
 'Average Localization Error (ALE) in sensor node localization process in WSNs',
 '9mers from cullpdb',
 'TamilSentiMix',
 'Accelerometer',
 'Synchronous Machine Data Set',
 'Pedal Me Bicycle Deliveries',
 'Turkish Headlines Dataset',
 'Secondary Mushroom Dataset',
 'Power consumption of Tetouan city',
 'Raisin Dataset',
 'Steel Industry Energy Consumption Dataset',
 'Gender Gap in Spanish WP',
 'Non verbal tourists data',
 'Roman Urdu Sentiment Analysis Dataset (RUSAD)',
 'TUANDROMD ( Tezpur University Android Malware Dataset)',
 'Higher Education Students Performance Evaluation Dataset',
 'Risk Factor prediction of Chronic Kidney Disease',
 'Lab Test',
 'Shoulder Implant Manufacture Classification',
 'Rocket League Skillshots Data Set',
 'Sepsis survival minimal clinical records',
 'Water Quality Prediction',
 'Traffic Flow Forecasting',
 'sentiment analysis in Saudi Arabia about distance education during Covid-19',
 'Kain Tradisional Sambas',